/*Header - navigation menu*/

.header-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #000;
  z-index: 999;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-container .nav-logo{
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.navigation a{
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: .3s;
  margin-left: 4rem;
}

.navigation a:hover{
  color: #f44336;
}

.navigation .active{
  color: #f44336;
}

#resolution-menu {
  font-size: 3.6rem;
  color: #fff;
}